<root>
    <dataStructure name="Values">
        <float name="Mouse Speed X" value="0.010000"/>
        <float name="Mouse Speed Y" value="0.010000"/>
        <float name="Thumbstick Speed X" value="0.250000"/>
        <float name="Thumbstick Speed Y" value="0.250000"/>
        <float name="Master Volume" value="1.000000"/>
        <float name="FOV in degrees" value="80.000000"/>
    </dataStructure>
</root>
